>>>{{.Name}}/
>>>data/
>>>basics.yaml
name: "{{.Basics.name}}"
label: "{{.Basics.label}}"
image: "{{.Basics.image}}"
email: "{{.Basics.email}}"
phone: "{{.Basics.phone}}"
#url: "{{.Basics.url}}"
summary: "{{.Basics.summary}}"
location:
  address: "{{.Basics.location.address}}"
  postalCode: "{{.Basics.location.postalCode}}"
  city: "{{.Basics.location.city}}"
  countryCode: "{{.Basics.location.countryCode}}"
  region: "{{.Basics.location.region}}"
<<<basics.yaml
>>>works/
>>>my-first-company-STARTYEAR.yaml
name: "My First Company"
location: ""
description: ""
position: ""
#url: ""
startDate: ""
endDate: ""
summary: ""
highlights:
- description: "" 
  tags: ["",""]
<<<my-first-company-STARTYEAR.yaml
>>>exports/
<<<exports/
<<<works/
<<<data/
<<<{{.Name}}/
